.list-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-size: 1rem;
  padding: 1.5em 2em;
  box-shadow: $shadow-elevation-high;
  background-color: $color-white;
  border-radius: 4px;
  position: relative;

  @media (max-width: $vw-lg) {
    font-size: 0.95rem;
    padding: 1em 1.5em;
  }

  @media (max-width: $vw-md) {
    padding: 0.8em 1.3em;
  }
  @media (max-width: $vw-sm) {
    flex-direction: column;
    padding: 0.5em 1em;
    .info {
      width: 100%;
    }
  }
  .info {
    display: flex;
    flex-basis: 40%;

    .logo {
      user-select: none;
      flex-shrink: 0;
      @media (max-width: $vw-sm) {
        width: 3.5em;
        height: 3.5em;
        position: absolute;
        top: -10%;
        left: 6%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .details {
      margin-left: 2em;
      @media (max-width: $vw-sm) {
        margin-left: 0;
        margin-top: 2em;
      }
    }
    .details__top {
      user-select: none;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      span {
        display: inline-block;
      }
      .name {
        color: $color-primary;
        font-size: 0.8em;
        font-weight: 700;
      }
      &__tags {
        margin-left: 1em;
      }
    }
    .title {
      color: $color-black;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $color-primary;
      }
      h1 {
        font-size: 1em;
        font-weight: bold;
        margin: 0.8em 0;
      }
    }
    .details__bottom {
      color: $color-darkgrayish-cyan;
      font-size: 0.8em;
      user-select: none;
      span {
        margin: 0.3em 0;
        display: inline-block;
      }
    }
    .dot::after {
      content: "\00B7";
      padding: 0.5em;
    }
  }
  .tags {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    flex-flow: row wrap;
    @media (max-width: $vw-sm) {
      justify-content: flex-start;
      border-top: 1px solid lightgray;
      margin-top: 1em;
      padding-top: 1em;
      width: 100%;
    }
    .info-tag + .info-tag {
      margin-left: 1em;
    }
  }
}

.list-card.featured {
  border-left: 5px solid $color-primary;
}
.list-card + .list-card {
  margin-top: 3rem;
}
