.filter-item {
  display: inline-block;
  margin: 0.3em;
  background-color: $color-lightgrayish-cyan-2;
  span {
    font-size: .8em;
    padding: 0.3em 0.5em;
    user-select: none;
  }
  button {
    border-radius: 0 4px 4px 0;
    background-color: $color-primary;
    border: 0;
    padding: 0.3em 0.4em;
    cursor: pointer;
    &:hover {
      background-color: $color-black;
    }
  }
}
