@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
/* 
  1-9 copied from https://www.joshwcomeau.com/css/custom-css-reset/
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 15px;
}

.hidden {
  display: none !important;
}

body {
  font-family: "Spartan", sans-serif;
}

p {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  margin: 2em 0;
}

h1 {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 3.5em;
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
}

h3 {
  font-weight: 300;
  font-size: 2em;
}

header {
  height: 10rem;
  background-color: #5ba4a4;
  position: relative;
}
header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../images/bg-header-desktop.svg") no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  background-color: #effafa;
  min-height: 100vh;
}
@media (max-width: 375px) {
  main {
    margin-top: 4rem;
  }
}

.list-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: 1.5em 2em;
  box-shadow: 0.2px 0.5px 0.4px rgba(163, 199, 197, 0.69),
    0.3px 0.8px 0.6px -1px rgba(163, 199, 197, 0.58),
    1.2px 2.9px 2.4px -2px rgba(163, 199, 197, 0.46),
    3.6px 8.6px 7px -3px rgba(163, 199, 197, 0.35),
    8.2px 19.6px 15.9px -4px rgba(163, 199, 197, 0.23),
    15.9px 37.9px 30.8px -5px rgba(163, 199, 197, 0.12);
  background-color: white;
  border-radius: 4px;
  position: relative;
}
@media (max-width: 375px) {
  .list-card {
    flex-direction: column;
    padding: 0.5em 1em;
  }
  .list-card .info {
    width: 100%;
  }
}
.list-card .info {
  display: flex;
  flex-basis: 50%;
}
.list-card .info .logo {
  user-select: none;
}
@media (max-width: 375px) {
  .list-card .info .logo {
    width: 3.5em;
    height: 3.5em;
    position: absolute;
    top: -15%;
    left: 6%;
  }
}
.list-card .info .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.list-card .info .details {
  margin-left: 2em;
}
@media (max-width: 375px) {
  .list-card .info .details {
    margin-left: 0;
    margin-top: 2em;
  }
}
.list-card .info .top-details {
  user-select: none;
}
.list-card .info .top-details .name {
  color: #5ba4a4;
  font-size: 0.7em;
  font-weight: 700;
}
.list-card .info .top-details-tags {
  margin-left: 1em;
}
.list-card .info .title {
  color: #5ba4a4;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
@media (max-width: 375px) {
  .list-card .info .title {
    font-size: 0.8em;
    color: black;
  }
}
.list-card .info .title div {
  margin: 0.8em 0;
}
.list-card .info .bottom-details {
  color: #7b8e8e;
  font-size: 0.7em;
  user-select: none;
}
.list-card .info .bottom-details span {
  margin: 0.3em 0;
  display: inline-block;
}
.list-card .info .dot::after {
  content: "\00B7";
  padding: 0.5em;
}
.list-card .tags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  flex-flow: row wrap;
}
@media (max-width: 375px) {
  .list-card .tags {
    justify-content: flex-start;
    border-top: 1px solid lightgray;
    margin-top: 1em;
    padding-top: 1em;
  }
}
.list-card .tags .info-tag + .info-tag {
  margin-left: 1em;
}

.list-card.featured {
  border-left: 4px solid #5ba4a4;
}

.list-card + .list-card {
  margin-top: 3rem;
}

.tag {
  font-size: 0.6em;
  font-weight: 700;
  padding: 0.5em 0.7em;
  border-radius: 1em;
  text-transform: uppercase;
  background-color: #5ba4a4;
  color: white;
  display: inline-block;
  margin: 0.3em;
}

.tag.primary {
  background-color: #5ba4a4;
  color: white;
}

.tag.dark {
  background-color: black;
  color: white;
}

.info-tag {
  font-size: 0.7em;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 0.5em 0.6em;
  background: #eef6f6;
  color: #5ba4a4;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0.4em;
  position: relative;
  user-select: none;
}
.info-tag:hover {
  color: white;
  background-color: #5ba4a4;
}

.input-filter-wrapper {
  max-width: 1440px;
  padding: 4rem 3rem 4rem;
  width: 100%;
  position: relative;
  margin-top: -6rem;
}
@media (max-width: 375px) {
  .input-filter-wrapper {
    padding: 4rem 0.5rem 4rem;
    margin-top: -10rem;
  }
}

.input-filter {
  font-size: 1rem;
  font-weight: 700;
  color: #5ba4a4;
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 1em 2em;
  box-shadow: 0.2px 0.5px 0.4px rgba(163, 199, 197, 0.69),
    0.3px 0.8px 0.6px -1px rgba(163, 199, 197, 0.58),
    1.2px 2.9px 2.4px -2px rgba(163, 199, 197, 0.46),
    3.6px 8.6px 7px -3px rgba(163, 199, 197, 0.35),
    8.2px 19.6px 15.9px -4px rgba(163, 199, 197, 0.23),
    15.9px 37.9px 30.8px -5px rgba(163, 199, 197, 0.12);
}
@media (max-width: 375px) {
  .input-filter {
    padding: 0.7em;
  }
}
.input-filter .wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  flex-grow: 1;
}
@media (max-width: 375px) {
  .input-filter .wrapper {
    flex-basis: 85%;
  }
}
.input-filter .filter-item {
  display: inline-block;
  margin: 0.3em;
  background-color: #eef6f6;
}
.input-filter .filter-item span {
  font-size: 0.7em;
  padding: 0.3em 0.5em;
  user-select: none;
}
.input-filter .filter-item button {
  border-radius: 0 4px 4px 0;
  background-color: #5ba4a4;
  border: 0;
  padding: 0.3em 0.4em;
  cursor: pointer;
}
.input-filter .filter-item button:hover {
  background-color: black;
}
.input-filter input {
  border: 0;
  padding: 0.3em;
  width: 100%;
  font: inherit;
  line-height: 2em;
  outline: 0;
}
.input-filter .field-filters {
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 375px) {
  .input-filter .field-filters {
    flex-shrink: 1;
  }
}
.input-filter .field-body {
  flex-shrink: 1;
  flex-grow: 1;
}
.input-filter .field-clear button {
  background: none;
  border: 0;
  text-decoration: underline;
  color: #5ba4a4;
  cursor: pointer;
  font-weight: 700;
}
@media (max-width: 375px) {
  .input-filter .field-clear button {
    text-decoration: none;
    color: #7b8e8e;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.jobs {
  padding: 0rem 3rem 4rem;
}
@media (max-width: 375px) {
  .jobs {
    padding: 0rem 0.5rem 4rem;
  }
}
